.channelList {
  max-width: 20rem;
  background-color: #0e0e10;
  color: 	#F0E4D8;
  font-family: Roobert,Helvetica Neue,Helvetica,Arial,sans-serif!important
}

.channelEntry {
  display: flex;
  /* justify-content: space-between;
  flex-direction: row;
  white-space: nowrap; */
  /* border: 1px solid yellow */
}

.avatarPic {
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}

.user-game {
  margin-left: 1rem;
  width: 8rem;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding-top: 8px;
  text-overflow: ellipsis;
}

.username {
  position: relative;
  font-size: 1rem;
  line-height: 1.2;
}

.gamename {
  font-size: 0.7rem;
  line-height: 1.2;
  color: #B4B3B8;
}

.channelEntry:hover .tooltipbox{
  visibility: visible;
  transition: 0.15s;
}

.channelEntry .tooltipbox::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent #1F1E23 transparent transparent;
}

.live-count {
  min-width: 4rem;
  margin-left: 0.5rem;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.live {
  width: 10px;
  height: 10px;
  background: rgb(255, 0, 64);
  border-radius: 50%;
  color: red;
  font-size: 20px;
  text-align: center;
  line-height: 10px;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
  }

  40% {
      box-shadow: 0 0 0 5px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
  }

  80% {
      box-shadow: 0 0 0 7px rgba(255, 0, 64, 0), 0 0 0 7px rgba(255, 0, 64, 0);
  }

  100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 7px rgba(255, 0, 64, 0);
  }
}

.viewer-count {
  margin-left: .5rem;
  margin-right: .5rem;
  font-size: 0.7rem;
}

.tooltipbox {
  visibility: hidden;
  background-color: #1F1E23;
  color: #B4B3B8;
  font-size: 0.8rem;
  width: 210px;
  left: 17rem;
  height: 2.3rem;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  white-space: normal !important;
}

.tooltiptext {
  display: flex;
}